@import '../Index.scss';

.Sidebar{
  display: grid;
  position: fixed;
  top: 80px;
  justify-items: center;
  width: 50px;
  left:20px;

  .Contollers{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    height: calc(100vh - 80px - 2.5vh);
    justify-items: center;
    .projectNum{
      padding: 20px 0;
      justify-items: center;
      display: grid;
      font-family: $fontheader;
      color: $gray_light;
      font-size:1.5em;
    }

    .line{
      width: 1px;
      background-color: $gray;
    }
  }

  .social{
    position: fixed;
    bottom: 2.5vh;
    left: calc(2.5vw + 50px);
    display: grid;
    ul{
      display: grid;
      list-style-type: none;
      padding: 0;
      margin: 0;
      grid-auto-flow: column;
      li{
        padding:5px;
      }
    }
  }

  img{
    height: 20px;
    width: 20px;
  }
}