@import './general/variables';
@import './general/fonts';
@import './general/base';
@import './general/transition';

@import './components/ui/Button';



body{
  font-family: $fontbody;
  margin: 0px;
}

.Website{
  display: grid;
}