@import "../../Index.scss";

.GridProject {
  display: grid;
  transition: all 1s ease-in;
  align-items: center;
  align-content: center;
  height: 100vh;
  grid-gap: 0.75em;
  scroll-snap-align: start;

  .topSide, .bottomSide{
    padding: 0 2em;
  }
  .topSide{
    margin-top:2em;
  }
  .bottomSide{
    grid-gap:30px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
  img {
    width: 100%;
    display: grid;
  }

  &.Active {
  }
}
