button {
  padding: 10px;
  background: none;
  border: none;
  font-family: $fontheader;
}

.Content {
  display: grid;
  margin-top: 110px;
  margin-left: 90px;
  width: calc(100vw - 120px);

  &.Homepage {
    position: fixed;
    align-items: center;
    height: calc(100vh - 220px - 2.5vh);
  }
}
